body {
    font-family: 'Source Code Pro', monospace;
    text-align: center;

}
nav {
    background-color: lightgray;
}
ul {
    list-style-type: none;
    display: inline-flex;
}

.right {
    float: right;
}

footer {
    bottom: 0;
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}
a:hover {
    background-color: black;
    color:white;
    text-decoration: none;
}

.list a {
    font-size: 20px;
    
}